body {
    text-align: center;
    }

body {
    font-family:"Arial", "Meiryo", sans-serif;
  }
  .blue {
    color: skyblue;
  }

  #生年月日 {
    color: skyblue;
  }
  
  #趣味 {
    color: skyblue;
  }

  #プログラミングを始めた理由 {
    color: skyblue;
  }

  .pink {
    color: rgb(255, 192, 203);
  }

  #名前 {
    color: rgb(255, 192, 203);
  }

  #血液型 {
    color: rgb(255, 192, 203);
  }  

  #好きな食べ物 {
    color: rgb(255, 192, 203);
  }

html {
    font-size: 20px;
  }

  h1 {
    letter-spacing: 1.2em;
    border-bottom: solid 3px  rgb(115, 115, 114);
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    text-shadow: 2px 2px 4px  gray;
  }

  #basic > p {
    font-weight: bold
  }



